@{
    ViewData["Title"] = "Cursos";
}
<div class="text-center">
    <h2>Cursos</h2>
</div>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-add-new btn-primary" onclick="carregaCreate()" data-toggle="modal" data-target="#myModal">Novo curso</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="listaCursos"></div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="corpoModal"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Aplicacao/Institucional/Curso/index.js"></script>
}