@font-face {
            font-family: "pixel";
            src: url("assets/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
        }

        .fa-9x {
            font-size: 9em;
        }

        .color-green {
            color: green;
        }

        .color-yellow {
            color: yellow;
        }

        .logo-cabecalho {
            height: 50px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
        }

        .font-game {
            font-family: 'VCR_OSD_MONO';            
        }

        .font-20-px{
            font-size: 20px!important;
        }

        .font-16-px{
            font-size: 16px!important;
        }