@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- MetaTags -->
    <!-- SEO -->
    <meta name="description" content="Level Learn, uma plataforma gratuita de gamification para apoiar o professor em sala de aula. Agora, você pode transformar sua disciplina em um game.">
    <meta name="keywords" content="Level Learn, level, learn, levellearn, gamification, gamification level learn, gamificando, game">
    <!-- SEO -->
    <meta name="author" content="Felipe Ayres, Gabriel Faria, Leonardo Barbetta, Leandro Guarino">
    <!-- MetaTags -->

    <link rel=icon type=text/css href="~/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/index/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/index/css/style.min.css">

    <title>Level Learn</title>
</head>
<body>

    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="~/index/images/brand-logo.png" alt="logo_level_learn" class="navbar-brand"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/#home">Home</a></li>
                        <li><a href="/#gamificando">Gamificando</a></li>
                        <li><a href="/#equipe">A equipe</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/Game">Jogar</a></li>
                        }
                        else
                        {
                            <li><a data-toggle="modal" data-target="#modalLogin" href="#">Entrar</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img src="~/index/images/brand-logo full.png" class="img-responsive" alt="logo_gamification">
                </div>
                <div class="modal-body">
                    <div id="border-pixel-blue"></div>
                    <form id="formLogar" name="formLogar">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <input class="form-control input-lg valid" id="Email" name="Email" placeholder="E-mail" type="email" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <input class="form-control input-lg valid" id="Senha" name="Senha" placeholder="Senha" type="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                @*<a href="/Recuperar-Senha">Esqueci minha senha</a>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <input type="button" id="btnLogar" class="btn btn-primary btn-block btn-lg" onclick="Entrar()" value="ENTRAR">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div id="msgUsuarioNaoEncontrado" style="display:none;max-width:100%" class="alert alert-danger alert-dismissible" role="alert">
                                    Usuário e senha inválidos ;(
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <main>
        <section id=home class=screen-height>
            <div class=container>
                <div class=row>
                    <img id=brand-logo src="~/index/images/brand-logo full.png" class=img-responsive alt=logo_level_learn>
                </div>
                <div class=row>
                    <div class=col-md-12>
                        <h1>
                            Professor, transforme suas aulas com Gamification
                            e desperte os alunos para um mundo de conhecimento
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <section id=citacao>
            <img id=aspas-top src=~/index/images/aspas-top.png alt=aspas class=img-responsive>
            <img id=aspas-bottom src=~/index/images/aspas-bottom.png alt=aspas class=img-responsive>
            <div class=container>
                <div id=planet-red>planeta vermelho</div>
                <div id=planet-blue>planeta azul</div>
                <div id=planet-purple>planeta roxo</div>
                <div class=row>
                    <div class=col-md-12>
                        <h1>
                            Em todo trabalho que tem que ser feito existe um elemento
                            de diversão. Você encontra a diversão e pronto!
                            O trabalho é um jogo.
                        </h1>
                        <h1 class=text-right>- Mary Poppins</h1>
                    </div>
                </div>
            </div>
        </section>
        <section id=gamificando>
            <div id=border-pixel-purple></div>
            <div class=container>
                <div id=cloud1>Nuvem</div>
                <div id=cloud2>Nuvem</div>
                <div class=row>
                    <div class=col-md-12>
                        <h1 class="text-center text-uppercase">Gamification</h1>
                    </div>
                </div>
                <div class=row>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src=~/index/images/icon-question.png alt="o que é?">
                            <div class="caption text-center">
                                <h3>O que é?</h3>
                                <p>Um ambiente para o professor transformar a disciplina em um game e motivar a aprendizagem dentro e fora de sala de aula.</p>
                            </div>
                        </div>
                    </div>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src=~/index/images/icon-objective.png alt=objetivo>
                            <div class="caption text-center">
                                <h3>Mas, como isso?</h3>
                                <p>O professor cria missões e os alunos entram em uma competição que os levará a aprender ainda mais.</p>
                            </div>
                        </div>
                    </div>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src=~/index/images/icon-chest.png alt="nao tem segredo">
                            <div class="caption text-center">
                                <h3>Não tem segredo</h3>
                                <p>O LL gerencia o ranking, as moedas, os desafios e as regras. O professor só precisa fazer a chamada e corrigir as missões.</p>
                            </div>
                        </div>
                    </div>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src=~/index/images/icon-coin.png alt=custo>
                            <div class="caption text-center">
                                <h3>Quanto custa?</h3>
                                <p>Nada. Então, não custa nada você entrar, né? Se você é professor, entre agora. Se você é aluno, fale do LL para os seus professores.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id=arbusto1>arbusto</div>
            <div id=arbusto2>arbusto</div>
        </section>
        <section id=equipe>
            <div id=border-floor></div>
            <div id=border-floor2></div>
            <div class=container>
                <div class=row>
                    <h1 class="text-center text-uppercase">A equipe</h1>
                </div>
                <div class=row>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src="~/index/images/foto_leandro.jpg" alt="Leandro Guarino">
                            <div class="caption text-center">
                                <h3>Leandro Guarino</h3>
                                <p><a target=_blank class="fa fa-linkedin-square fa-3x" href=https://www.linkedin.com/in/leguarino/⁠></a></p>
                            </div>
                        </div>
                    </div>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src="~/index/images/foto_leonardo.jpg" alt="Leonardo Barbetta">
                            <div class="caption text-center">
                                <h3>Leonardo Barbetta</h3>
                                <p><a target=_blank class="fa fa-linkedin-square fa-3x" href=https://www.linkedin.com/in/leonardo-barbetta /></a></p>
                            </div>
                        </div>
                    </div>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src="~/index/images/foto_felipe.jpg" alt="Felipe Ayres">
                            <div class="caption text-center">
                                <h3>Felipe Ayres</h3>
                                <p><a target=_blank class="fa fa-linkedin-square fa-3x" href=https://www.linkedin.com/in/felipe-ayres /></a></p>
                            </div>
                        </div>
                    </div>
                    <div class=col-md-3>
                        <div class=thumbnail>
                            <img src="~/index/images/foto_gabriel.jpg" alt="Gabriel Faria">
                            <div class="caption text-center">
                                <h3>Gabriel Faria</h3>
                                <p><a target=_blank class="fa fa-linkedin-square fa-3x" href=https://www.linkedin.com/in/gabrielfaria93 /></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class=container>
            <p class=logo-footer><img src="~/index/images/brand-logo full.png" alt=logo_level_learn></p>
            <ul>
                <li><a target=_blank class=social-links href=https://www.facebook.com/levellearn><span class="facebook fa fa-facebook fa-2x"></span></a></li>
                <li><a target=_blank class=social-links href=https://www.youtube.com/channel/UC_0XLSwcKXzNH95o4afsdzQ><span class="youtube fa fa-youtube-play fa-2x"></span></a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/index/js/bootstrap.min.js"></script>
    <script src="~/js/Common/botao.js"></script>
    <script src="~/js/Common/localStorage.js"></script>
    <script src="~/js/Aplicacao/Pessoas/login.js"></script>
</body>
</html>